@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: black;
  color: #fff;
  width: 100%;
}

/* LEFT COLUMN */

.left {
  width: 30vw;
  height: 100%;
  padding: 10px;
}

.home .logo{
  padding: 10px;
}

.home ul li{
  margin-left: 20px;
  font-style: 32px;
}
.right {
  width: 75vw;
  position: relative;
  border-radius: 5px;
  max-height: 83vh;
  overflow: scroll;
  margin: 16px;
  border-radius: 5px;
}

.home ul li {
  gap: 15px;
  display: flex;
  width: 15px;
  list-style: none;
  padding-top: 14px;
  font-weight: bold;
}
.heading {
  display: flex;
  gap: 15px;
  width: 100%;
  padding-top: 14px;
  padding: 23px 14px;
  font-weight: bold;
  align-items: center;
  font-size: 13px;
}
.heading img {
  width: 30px;
}
.library {
  max-height: 70vh;
  position: relative;
}
.footer {
  display: flex;
  align-items: top;
  justify-content: center;
  gap: 8px;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
}
.footer a {
  font-size: 15px;
  color: grey;
  text-decoration: none;
}
.header {
  width: 68.2vw;
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
  border-top-left-radius: 5px;
  position: fixed;
  overflow: auto;
  z-index: 1;
  margin-top: -2.5px;
}
.header > * {
  padding: 20px;
}
.spotifyPlaylist{
  margin-top: 100px;
}

.album-DIV .album-name{
  width: 95%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -10px;
  padding: 15px 18px;
}
.album-name h1{
  font-size: 24px;
}
.album-name a{
  font-style: 16px;
  color: #B3B3B3;
  cursor: pointer;
  text-decoration: none;
}
.cardContainer {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin: 10px;
  max-height: 65vh;
}
.card {
  width: 180px;
  padding: 8px;
  border-radius: 5px;
  position: relative;
}
.card:hover{
  background-color: #171717;
}
.card > * {
  padding-top: 10px;
}
.card img {
  width: 100%;
  object-fit: contain;
}
.card h2{
  font-size: 16px;
}
.card p{
  font-style: 12px;
  color: #B3B3B3;
  font-weight: 400;
}
.play {
  width: 28px;
  height: 28px;
  background-color: #1fdf64;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 168px;
  right: 17px;
  opacity: 0;
  transition: all ease 0.5s;
}
.card:hover .play{
  opacity: 1;
  transition: all ease 0.5s;
}
.button > *{
  margin: 0 12px;
}
.signup-btn{
  background-color: rgb(34, 34, 34);
  color: rgb(194, 193, 193);
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}
.signup-btn:hover{
  font-size: 17px;
  color: white;
}
.login-btn{
  background-color: white;
  border-radius: 25px;
  color: black;
  padding: 10px;
  width: 79px;
  cursor: pointer;
  font-size: 16px;
}
.login-btn:hover{
  font-weight: bold;
  width: 80px;
  cursor: pointer;
  font-size: 17px;
}

.songinfo h2{
  color: #000;
}
.songtime{
  color: #000;
  width: auto;
  height: 20px;
}
.song-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.songsLists{
  height: 344px;
  overflow: auto;
  margin-bottom: 44px 0;
}

.songsLists ul{
  padding: 0 12px;
  height: auto;
}
.songsLists ul li{
  list-style-type: decimal;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  cursor: pointer;
  padding: 12px 0;
  border: 1px solid white;
  margin: 12px 0;
  padding: 13px;
  border-radius: 5px;
}

.song-card {
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.song-card img {
  width: 40px;
  height: 40px;
}

.song-card .song-name {
  font-size: 15px;
  margin: 10px 0;
}

.song-card .play-btn {
  background-color: #333232;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.song-card .play-btn:hover {
  background-color: #333232;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.songPlayBtn{
  width: 5px;
  height: 5px;
}

.info{
  margin-top: -5px;
}

.songsLists .info h6{
  margin-top: -10px;
}
.playbar{
  width: 100%;
  height: 12%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 1;
}
.songName{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: left;
}
.songName img{
  width: 60px;
  height: 60px;
  background-color: #fff;
  padding-left: 10px;
}
.songinfo{
  padding-left: 14px;
}
.playBtn{
  width: 40%;
  display: inline;
  align-items: center;
  justify-content: center;
}
.playBar-btn{
  margin-left: calc(30%);
}
.playBar-btn i{
  padding: 15px;
}
.bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.seekbar{
height: 2px;
width: 35%;
background-color:  grey;
border-radius: 10px;
position: absolute;
margin: 2.5%;
}
.seekbar{
  height: 2px;
  width: 34.5%;
  background-color:  white;
  border-radius: 10px;
  position: absolute;
  bottom: 5px;
  margin: 22px 38px;
}
.circle{
  width: 13px;
height: 13px;
border-radius: 13px;
background-color: rgb(242, 126, 64);
position: relative;
bottom: 6px;
left: 0%;
transition: left 0.5s;
}
.additionalBtn{
  width: 27%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.additionalBtn .btns i{
  padding: 10px 20px;
  cursor: pointer;
}
.btns-name{
  margin-top: -20px;
  display: flex;
  padding: 0 2px;
  
}
.btns-name p{
  background-color: #333232;
  border: 1px solid #171717;
  padding: 2px 5px;
  font-size: 14px;
  opacity: 0;
}
.additionalBtn i{
  margin-left: -10px;
}
.addbtns .fullscreen p{
  margin-left: 10%;
}
.volumeBar{
height: 2px;
width: 10%;
background-color:  grey;
border-radius: 10px;
position: absolute;
margin-left: 12%;
}
.volCircle{
  width: 13px;
height: 13px;
border-radius: 13px;
background-color: rgb(242, 126, 64);
position: relative;
bottom: 6px;
left: 0%;
transition: left 1s;
}
